<ion-view view-title="我的订单">
  <ion-content>
    <div class="card" ng-hide="show()">
      <div class="item item-text-wrap text-center">
        您还没有登录，请登录后继续.
      </div>
      <div class="item item-text-wrap">
        <button class="button button-block  button-outline button-positive" ng-click="loginModal()">
          登录
        </button>
      </div>
    </div>
    <div ng-init="loadOrders()" ng-show="show()">
      <div class="card" ng-repeat="order in orders">
        <div class="list">
          <a class="item item-avatar">
            <h2>{{order.number}}</h2>
            <p>{{order.order_at}}</p>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
